.Quiz_content_container {
 flex: 1 1 auto;
 margin: 4rem;
 border: 1px solid lightgray;
 border-radius: 30px !important;
 background-color: ghostwhite;

 .Quiz_content_header_container {
   display: flex;

   .Quiz_content_header {
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 30px;
    background-color: ghostwhite;
  }
 
  .Quiz_content_button_container {
    padding-top: 20px;
    text-align: center;
    background-color: ghostwhite;
 
    .Go_back_button {
      min-width: 115px;
      margin-top: 8px;
    }
  }
 }
}

.Loading_container {
 margin-bottom: 4rem;
}

.Questionslist_container {
  display: flex;
  flex-direction: column;
}

.Questions_container {
  background-color: ghostwhite;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  padding-bottom: 20px;

  .Create_question_button_container {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: ghostwhite;

    .Create_question_button {
      min-width: 115px;
    }
  }
}